        .dashboard
            .dashboard-headline 
                img(src="img/setting 1.svg", alt="dashboard")
                h1 Dashboard
                p v.01
            .dashboard-menu
                ul 
                    li 
                        a(href="#") Dashboard
                    li
                        a(href="#") Product
                    li 
                        a(href="#") Customers
                    li
                        a(href="#") Income
                    li
                        a(href="#") Promote
                    li 
                        a(href="#") Help 
            .dashboard-pm_block
                .dashboard-pm_block-pic
                    img(src="img/Ellipse 8.png", alt="face")
                .dashboard-pm_block-text
                    h3  Evano
                    p   Project Manager